<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valor Total do Estoque</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Valor Total do Estoque</h1>
    <p>Total: R$ {{ total_estoque }}</p>

    <h2>Produtos:</h2>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }} unidades</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <footer>
        <p>&copy; André Serejo</p>
    </footer>
</body>

</html>